.artOne{
	background-color: lightblue;
	font-family: sans-serif;
	font-size: 1em;
	color: orange;
	line-height: 150%;
	padding: 10px 15px;
	border-radius: 10px 0 10px 15px;
	
}
.artTwo{
	background-color: #97a4d3;
	font-family: arial;
	font-size: 1.5em;
	color: red;
	line-height: 100%;
	padding: 0 auto;
	border-radius: 20% 20% 5% 5%;
}

.artThree{
	background-color: #37d4d3;
	font-family: garamond;
	font-size: 1em;
	color: slategrey;
	line-height: 130%;
	padding: 15px 20px;
	border-radius: 60% 0 0 0;

}
.artThree ul{
	float: left;
	direction: block;

}
.artFour{
	background-color: #23e4b3;
	font-family: times;
	font-size: 1.175em;
	color: cornflowerblue;
	line-height: 111%;
	padding: 25px 25px;
	border-radius: 20% 20% 0;
}
.artFive{
	background-color: skyblue;
	font-family: "Times New Roman";
	font-size: 20px;
	color: #482c8b;
	line-height: 90%;
	padding: 30px 20px;
	border-radius: 100%;
}

p{
	text-align: center;
	word-spacing: 10px;
}

